@font-face {
    font-family: 'DroidSans';
    src: url('fonts/DroidSans-webfont.eot');
    src: url('fonts/DroidSans-webfont.eot?iefix') format('eot'),
         url('fonts/DroidSans-webfont.woff') format('woff'),
         url('fonts/DroidSans-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSans';
    src: url('fonts/DroidSans-Bold-webfont.eot');
    src: url('fonts/DroidSans-Bold-webfont.eot?iefix') format('eot'),
         url('fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('fonts/DroidSans-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'CharisSILRegular';
    src: url('fonts/CharisSILR-webfont.eot');
    src: url('fonts/CharisSILR-webfont.eot?iefix') format('eot'),
         url('fonts/CharisSILR-webfont.woff') format('woff'),
         url('fonts/CharisSILR-webfont.ttf') format('truetype'),
         url('fonts/CharisSILR-webfont.svg#webfontNWHt3Q3t') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Virgo01Regular';
    src: url('fonts/virgo-webfont.eot');
    src: url('fonts/virgo-webfont.eot?iefix') format('eot'),
         url('fonts/virgo-webfont.woff') format('woff'),
         url('fonts/virgo-webfont.ttf') format('truetype'),
         url('fonts/virgo-webfont.svg#webfontU8Nja6QL') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: DroidSans, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

a {
	color: #004080;
	text-decoration: none;
}
a:focus, a:hover {
	text-decoration: underline;
}

#header {
	background: #eee;
	overflow: hidden;
}
#header ul {
	display: block;
	width: 800px;
	margin: 0 auto;
	padding: 8px 0;
	text-align: right;
}
#header li {
	display: inline-block;
	margin: 0 0 0 6px;
	font-weight: bold;
}
#header li.main {
	float: left;
	margin-left: 0;
	margin-top: -4px;
	font-family: Virgo01Regular, sans-serif;
	font-weight: normal;
	font-size: 22px;
}
#header li a {
	color: #666;
	text-shadow: 1px 1px 0 #fff;
	text-decoration: none;
}
#header li a:focus, #header li a:hover {
	color: #000;
}

#content, #footer {
	width: 800px;
	margin: 0 auto;
}

#footer {
	margin-top: 3em;
	margin-bottom: 3em;
	padding-top: 1em;
	border-top: 1px solid #ccc;
	font-size: 0.8em;
	text-align: center;
}


#content h1, #content h2 {
	font-family: CharisSILRegular, serif;
	font-weight: normal;
	color: #333;
}
#content h3 {
	font-weight: normal;
}



div.admonition p.admonition-title + p {
    display: inline;
}

div.admonition p {
    margin-bottom: 5px;
}

div.admonition pre {
    margin-bottom: 5px;
}

div.admonition ul, div.admonition ol {
    margin-bottom: 5px;
}

div.note {
    background-color: #eee;
    border: 1px solid #ccc;
}

div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
}

div.topic {
    background-color: #eee;
}

div.warning {
    background-color: #ffe4e4;
    border: 1px solid #f66;
}

p.admonition-title {
    display: inline;
}

p.admonition-title:after {
    content: ":";
}

pre {
    padding: 5px;
    background-color: #eee;
    line-height: 120%;
    border: 1px solid #999;
    border-left: none;
    border-right: none;
}


.warning tt {
    background: #efc2c2;
}

.note tt {
    background: #d6d6d6;
}

